name: Automatic Build

on:
  schedule:
    - cron: '* * * * *' # every minute

jobs:
  build:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Set up Python 3.6
        uses: actions/setup-python@v2
        with:
          python-version: 3.6
      - name: Run build
        run: |
          pip install -r actions_requirements.txt
          python automatic_build.py
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}